
*{ 
    text-decoration: none;
    font-family:'Poppins';
}

/* h2 { 

    text-align: center；
}  */
 
header { 
    background-image: url("../imgWWF/tigre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

a { 

    color:rgb(242, 239, 235);
    text-decoration: none;
}

.WWF { 

    color:black;
}
p { 
    text-align: justify;
}

#controls { 
    bottom: 22px;
    left: 0;
    position: absolute;
}

img { 
    position: relative;
}
